@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
#profile-content{
  display: inline-block;
  height:300px;
}
#profile-image{
  width:200px;
  float:left;
}
.resume-div{
  display: block;
}
.used-tech{
  display:block;
}
